{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static 'img/Goo Businesses.png' %}" type="image/png">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/utils.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    {% block head %}

    {% endblock head%}

</head>

<body>
    <div class="pogress" id="pogressID"></div>

    <header>

        <nav>
            <div class="logo">
                <img src="{% static 'img/Goo Businesses.png' %}" height="73px">
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/whyus">Why us?</a></li>
            </ul>
        <form class="form" action="/searching" method="post">
            {% csrf_token %}
            <div class="search">
                <input class="form-ele1"  type="text" id="searchbarID" name="seachbar" placeholder="Search here..." width="20vw">
            </div>
            <div class="btn">
                <button class="bttn" type="submit">Search</button>
            </div>
        </form>

        <a href="/searching"><div class="navallproduct">Services</div></a>
        <a href="/termsandconditions"><div class="navallproduct">Terms & Conditions</div></a>
        <a href="/CancellationRefundPolicy"><div class="navallproduct">Cancellation/Refund Policy</div></a>
        <a href="/courses"><div class="navallproduct">Courses</div></a>
        <a href="/privacypolicy"><div class="navallproduct">Privacy Policy</div></a>

        </nav>

        <a href="/freetrail" class="freeTrl bblink">Get Your<br>Free Trial<br>up to $30</a>
    </header>





{% block body %}

{% endblock body %}

 


    <footer class="flex-all-center" style="font-family: sans-serif;">
        <table width="100%" style="background-color: #565656;color: #ffffff;margin-bottom: 0px;border-radius: 0px;">
            <tr>
                <td style="text-align: center;padding: 45px 20px;">
                    <a href="#"><img src="{% static 'img/Goo Businesses.png' %}" alt="" width="110"></a>
                    <p style="padding:10px;">Goo Business</p>
                    <p style="padding:10px;">Barakaimari, Coochbehar, West Bengal, India</p>
                    <a href="https://www.facebook.com/profile.php?id=61556569633598&mibextid=ZbWKwL" target="_blank">
                        <img src="{% static 'img/white-facebook.png' %}" alt="" width="32">
                    </a>
                    <!-- <a href="#">
                        <img src="{% static 'img/white-twitter.png' %}" alt="" width="32">
                    </a> -->
                    <!-- <a href="#">
                        <img src="{% static 'img/white-youtube.png' %}" alt="" width="32">
                    </a> -->
                    <a href="https://www.linkedin.com/company/goo-business/" target="_blank">
                        <img src="{% static 'img/white-linkedin.png' %}" alt="" width="32">
                    </a>
                    <a href="https://www.instagram.com/goobu_siness?igsh=cHY4dm1jNGEzcGxv" target="_blank">
                        <img src="{% static 'img/white-instagram.png' %}" alt="" width="32">
                    </a>
                    <a href="/subscribe/gmail.com" style="text-decoration: none;color: #ffffff;"><p style="padding:10px;">SUBSCRIBE</p></a>
                    <p>Copyright &copy; by Goo Business 2022</p>
                </td>
            </tr>
            
            
                
            
            
        </table>
    </footer>
    <div style="height: 10px;background-color: #2874f0;"></div>
   



    <script src="{% static 'JS/JS.js' %}"></script>

</body>

</html>
